header {
    nav { 
        .navbar-brand {
            display: flex;
            .fa-wordpress-simple {
                font-size: 40px;
                color: #21759b;
                margin-right: 10px;
            }
            .fa-wordpress-simple-txt {
                font-size: 25px;
                color: #21759b;
            }
        }
    }
}