.container {
    .button-container {
        display: flex;
    }
    form {
        border: 1px solid lightgray;
        border-radius: 10px;
        padding: 40px 20px;
        background-color: #ffff;
        display: flex;
        flex-direction: column;
        .form-title {
            margin-bottom: 25px;
            font-size: 18px;
            color: #21759b;
            text-align: center;
        }
        .user-form {
            margin-top: 25px;
        }
        .input-group {
            margin-bottom: 20px;
            .input-group-text {
                background-color: #ffff;
                border-color: lightgray;
            }
        }
        label {
            font-size: 15px;
            color: gray;
            display: flex;
            align-items: center;
            i {
                font-size: 18px;
                color: gray;
                margin-right: 10px;
            }
        }
        input {
            margin-bottom: 20px;
        }
        .submit-button {
            background-color: #21759b;
            color: #ffff;
            border: 1px solid #ffff;
            border-radius: 10px;
            margin-top: 20px;
            width: 100px;
            padding: 10px;
        }
    }
}