.container {
    .hello-container {
        border: 1px solid lightgray;
        border-radius: 10px;
        background-color: white;
        padding: 40px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
            color: #21759b;
            margin-bottom: 25px;
        }
        .home-buttons {
            display: flex;
            justify-content: space-between;
            .custom-button {
                a {
                    margin-top: 20px;
                    text-decoration: none;
                    color: gray;
                    cursor: none;
                    font-size: 15px;
                    &:hover {
                        cursor: pointer;
                        color: #2d95c5;
                    }
                    i {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
